################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Artifacts.Api/bin
/Artifacts.Api/obj
/Artifacts.EntityFramework/bin/Debug/net8.0
/Artifacts.EntityFramework/obj
/Artifacts.Exception/obj
/Artifacts.Exception/.vs/Artifacts.Exceptions/FileContentIndex
/Artifacts.Exception/bin/Debug/net8.0
/.vs
/Artifacts.Exception
/Utils/bin/Debug/net8.0
/Utils/obj
/Artifacts.Domain/obj
Artifacts.Domain/bin
Artifacts.Infrastructure/bin
Artifacts.Infrastructure/obj
Utils/bin
